.git
.github
.mypy_cache
.venv
.vscode
**/videos
**/artifacts
**/traces
**/inputs
**/har
postgres-data
docs
images
evaluation
tests
skyvern-frontend/node_modules
skyvern-frontend/dist
skyvern-ts/node_modules
*.env*
!/.env
